*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Segoe UI", sans-serif;
  background: url(assets/bg.png)no-repeat;
  background-size: cover;
  height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* Add this line to stack elements vertically */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.container h2{
  z-index: 1;
  position: relative;
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  height: 100px;
}
.log{
  
  font-size: x-large;
  margin-top: 20px; /* Add a margin-top to create space between the button and other elements */
  width: 180px;
  height: 60px;
  background: linear-gradient(to right ,violet,rgb(118, 182, 246), #4c86f0);
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Add this line to establish a stacking context */
  z-index: 2; /* Increase the z-index value to ensure it appears on top */
}
.log1{
  font-size: x-large;
  margin-top: 20px; /* Add a margin-top to create space between the button and other elements */
  width: 180px;
  height: 60px;
  
  background: linear-gradient(to right ,violet,rgb(118, 182, 246), #4c86f0);
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  position: relative; /* Add this line to establish a stacking context */
  margin-left: 100px;
  align-items: center;
}
.Beech{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.fuckoffunderline{
  color: #fff;
  text-decoration: none;
}
.log:hover {
  cursor: pointer;
}
.log1:hover{
  cursor: pointer;
}
@media (max-width:500px){
  .container h2{
    font-size: 60px;
    letter-spacing: 19px;
    line-height: 35px;
    padding-right: 32px;
  }
}